<div class="container martop">
    <div class="row">
        <div class="col-lg-5">
            <h2>Login</h2>

            <form (ngSubmit)="loginform.valid&&login(model)" #loginform="ngForm">
                <div class="form-group">
                    <label for="emailId">Email address</label>
                    <input type="email" class="form-control" #emailId="ngModel" [pattern]="emailRegex" required
                        id="emailId" [(ngModel)]="model.emailId" name="emailId" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <div class="text-danger" *ngIf="loginform.submitted&&emailId.erroes?.pattern">
                        Invalid Email Address.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" minlength="5" #password="ngModel" [(ngModel)]="model.password"
                        name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="text-danger" *ngIf="loginform.submitted&&password.erroes?.minlength">
                    Password should be of atleast 5 character.
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>

        </div>
        <div class="col-lg-7">
            <h2>Register</h2>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fName">First Name</label>
                        <input type="text" class="form-control" id="fName" placeholder="First Name" name="fName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lName">Last Name</label>
                        <input type="text" class="form-control" id="lName" placeholder="Last Name" name="lName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="emailId">Email Id</label>
                        <input type="email" class="form-control" id="emailId" placeholder="Email Id" name="emailId">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="mobile">Mobile</label>
                        <input type="number" class="form-control" id="mobile" placeholder="Mobile" name="mobile">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gender">Gender</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" (change)="radioCheck('Male')" type="radio" checked
                                name="gender" id="gender" value="Male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" (change)="radioCheck('Female')"
                                id="gender" value="Female">
                            <label class="form-check-label" for="Female">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="line1">Address</label>
                    <input type="text" class="form-control" id="line1" placeholder="Line 1" name="line1">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            name="password">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="profilePic">Select Image</label>
                        <input type="file" class="form-control" id="profilePic" name="profilePic">
                    </div>
                </div>
                <button type="button" (click)="register()" class="btn btn-primary">Sign Up</button>
            </form>

        </div>

    </div>
</div>